.no-pack-selected {
  top: 6;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #72777d;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 60vh;
  max-height: fit-content;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.info-section-container {
  width: 60vh;
}

.pack-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
  color: white;
  font-size: larger;
  font-family: 'Open Sans', sans-serif;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  width: 100%;
  height: auto;
  user-select: none;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  color: white;
}

.arrows:hover {
  cursor: pointer;
}

.prev-arrow:hover {
  color: black;
}

.next-arrow:hover {
  color: black;
}

.nft-info-container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.buy-btn {
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  margin: 2rem 0rem 2rem 0rem;
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  background-color: crimson;
  border: 1px solid white;
  border-radius: 1rem;
}

.buy-btn:hover {
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
}

.nft-info {
  margin-bottom: 1rem;
  font-size: larger;
  color: white;
}
