.marketplace-components {
  display: flex;
  margin-top: 3rem;
}

.nft-packs-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: max-content;
  margin-left: 2.5rem;
}

.nft-pack-container {
  height: 304px;
  width: 256px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1.8rem 1.8rem 1.8rem 1.8rem;
  font-family: 'Open Sans', sans-serif;
  background-color: gray;
}

.nft-pack-img {
  border-radius: 1.6rem 1.6rem 0 0;
}

.below-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nft-title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}

.info-text {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
}

.pack-btn {
  display: flex;
  justify-content: center;
}
