.marketplace-components {
  display: flex;
  padding: 0 3rem 0 3rem;
  border: 1px solid white;
  margin-top: 3rem;
}

.nft-packs-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: max-content;
  border: 1px solid black;
}

.nft-pack-container {
  height: 304px;
  width: 256px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1.8rem 1.8rem 1.8rem 1.8rem;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
}

.nft-pack-img {
  border-radius: 1.6rem 1.6rem 0 0;
}

.nft-title-info {
  text-align: center;
  padding: 8px 8px;
}

.action-info-section {
  border: 1px solid black;
  flex-basis: 40%;
  margin-left: 5rem;
}

.nfts-in-pack {
  display: flex;
  flex-wrap: wrap;
}
