.nfts-container-profile {
  margin: 2rem 4rem 2rem 4rem;
}

.btn-global {
  padding: 0.1rem 1.25rem 0.1rem 1.25rem;
  margin: 0 0 0.5 0;
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  background-color: crimson;
  border: 1px solid black;
}

.btn-global:hover {
  cursor: pointer;
}

.is-loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background: black;
}
