.btn-global {
  padding: 0.1rem 1.25rem 0.1rem 1.25rem;
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  background-color: crimson;
  border: 1px solid black;
  border-radius: 0.45rem;
}

.btn-global:hover {
  cursor: pointer;
  color: black;
  background-color: whitesmoke;
}

.is-loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background: black;
}
