.marketplace-components {
  display: flex;
  margin: 3rem 0rem 3rem 0rem;
}

.action-info-section {
  position: sticky;
  top: 6rem;
  border: 1px solid black;
  margin-right: 5rem;
  height: 50%;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.01rem black;
  background-color: #72777d;
  border-radius: 1rem 1rem 1rem 1rem;
}

.nft-packs-container {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  margin-left: 2.5rem;
}

.nft-pack-container {
  height: 304px;
  width: 256px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.01rem black;
  background-color: #72777d;
  user-select: none;
}

.nft-pack-container:hover {
  box-shadow: 0.3rem 0.3rem 0.5rem 0.01rem #2a4b8d;
}

.nft-pack-img {
  border-radius: 1rem 1rem 0 0;
}

.below-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nft-title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
}

.info-text {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
}

.pack-btn {
  display: flex;
  justify-content: center;
}
