.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #72777d;
  font-size: 1.5rem;
  padding: 0.75rem 0 0.75rem 0;
  border-bottom: 1px solid black;
}

.navbar-items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  width: 60%;
}

.list-item {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.list-item-active {
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
